<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestProject.Properties.Settings.ISO_base_media_file_formatConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=&quot;ISO base media file format&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>